################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/FedeSoftware/FileContentIndex/e461d0e7-2ac6-49eb-a7d4-1f3ec2deddf8.vsidx
/.vs/FedeSoftware/FileContentIndex
